:root {
    --colorPrimario: #3d0000; 
    --colorFondo: #000000;   
    --colorTexto: #ffffff;   
    --colorAcento: #ff9d00;  
    --colorCajaGris: #e0e0e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--colorFondo);
    color: var(--colorTexto);
    font-family: 'Courier New', Courier, monospace; 
    line-height: 1.6;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}

/*header */
.header {
    background-color: var(--colorPrimario);
    padding: 1rem 0;
}
.header__logo img {
    width: 120px;
    height: auto;
    display: block;
}

.header__contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav a {
    color: var(--colorTexto);
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    padding: 5px 10px;
}


/*heo*/
.hero__alfa {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 30px;
    margin-top: 30px;
}

.img-main {
    width: 100%;
    border: 2px solid #333;
}

.texto-color {
    color: var(--colorAcento);
    margin-bottom: 10px;
}

/* grid del yutube */
.hero__caja {
    background-color: var(--colorCajaGris);
    color: #000;
    padding: 20px;
    border-radius: 10px;
}

.texto-color_beta {
    color: var(--colorPrimario);
    font-weight: bold;
    margin-top: 15px;
}

.hero__trailer {
    margin-top: 20px;
}

.youtube {
    background-color: #fff;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;

    border: none; 
}

.youtube img {
    width: 80px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.youtube img:hover {
    transform: scale(2); 
}
/* lacartele */
.cartelera__titulo {
    color: var(--colorTexto);
    margin: 40px 0 20px;
    font-size: 2rem;
}

.cartelera__peliculas {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
    gap: 20px;
}



.cartelera__peliculas img {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: 8px;  
    display: block;
}


.pelicula__contenido {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    padding: 10px;        
    margin-top: 5px;
    font-size: 0.8rem;
    font-weight: bold;

}
.texto-color_pelicula {
    color: var(--colorAcento);
    margin-bottom: 10px;
}


/*footer */
footer {
    background-color: var(--colorPrimario);
    text-align: center;
    padding: 20px 0; 
    margin-top: 50px;

}

footer p {
    color: var(--colorTexto); 
    margin: 0;
    font-size: 0.9rem;
}